USE [CAMPING_WEBSHOP]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 11/12/2019 6:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[ProId] [int] NOT NULL,
	[CartId] [int] NOT NULL,
 CONSTRAINT [PK__CartItem__3214EC0704141BF6] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Carts]    Script Date: 11/12/2019 6:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BuyDate] [date] NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nchar](10) NULL,
	[Email] [nvarchar](50) NULL,
	[Address] [nvarchar](150) NULL,
	[Note] [nvarchar](200) NULL,
	[Payment] [nvarchar](100) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK__Carts__3214EC0718967049] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/12/2019 6:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CateId] [int] IDENTITY(1,1) NOT NULL,
	[CateName] [nvarchar](255) NOT NULL,
	[CateImage] [nvarchar](500) NULL,
	[Display] [bit] NOT NULL,
 CONSTRAINT [PK__Categori__27638D142D0C84FA] PRIMARY KEY CLUSTERED 
(
	[CateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/12/2019 6:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Price] [float] NULL,
	[Discount] [float] NULL,
	[CateId] [int] NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[Information] [nvarchar](2000) NULL,
	[Image] [nvarchar](500) NULL,
	[Display] [bit] NOT NULL,
 CONSTRAINT [PK__Products__3214EC078D14CE25] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/12/2019 6:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nchar](10) NOT NULL,
	[Address] [nvarchar](150) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](36) NOT NULL,
	[Avatar] [nvarchar](500) NULL,
	[RoleId] [int] NOT NULL,
	[Lock] [bit] NOT NULL,
 CONSTRAINT [PK__Users__3214EC072ADE063C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([Id], [Quantity], [UnitPrice], [ProId], [CartId]) VALUES (43, 1, 230000, 29, 3)
INSERT [dbo].[CartItems] ([Id], [Quantity], [UnitPrice], [ProId], [CartId]) VALUES (45, 2, 230000, 29, 4)
INSERT [dbo].[CartItems] ([Id], [Quantity], [UnitPrice], [ProId], [CartId]) VALUES (73, 1, 177000, 2, 2)
SET IDENTITY_INSERT [dbo].[CartItems] OFF
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([Id], [UserId], [BuyDate], [Name], [Phone], [Email], [Address], [Note], [Payment], [Status]) VALUES (1, 4, CAST(N'2019-09-21' AS Date), N'Trần Văn Dần', N'0326779770', N'hoale20061998@gmail.com', N'48, Man Thiện, P.Hiệp Phú, Quận9', N'boom hàng', N'COD', 0)
INSERT [dbo].[Carts] ([Id], [UserId], [BuyDate], [Name], [Phone], [Email], [Address], [Note], [Payment], [Status]) VALUES (2, 5, CAST(N'2019-10-21' AS Date), N'Nude Tiger', N'0123456789', N'quanjoker25998@gmail.com', N'48, Man Thiện, P.Hiệp Phú, Quận9', N'giao buổi sáng', N'COD', 0)
INSERT [dbo].[Carts] ([Id], [UserId], [BuyDate], [Name], [Phone], [Email], [Address], [Note], [Payment], [Status]) VALUES (3, 8, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Carts] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CateId], [CateName], [CateImage], [Display]) VALUES (1, N'DAO ĐI RỪNG', N'images/category-image/default.jpg', 1)
INSERT [dbo].[Categories] ([CateId], [CateName], [CateImage], [Display]) VALUES (2, N'NẤU ĂN', N'images/category-image/default.jpg', 1)
INSERT [dbo].[Categories] ([CateId], [CateName], [CateImage], [Display]) VALUES (3, N'LỀU CẮM TRẠI', N'images/category-image/default.jpg', 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Price], [Discount], [CateId], [Description], [Information], [Image], [Display]) VALUES (1, N'DAO TIGER', 650000, 0.5, 1, N'Tiger, là mẫu dao mạnh mẽ, ưu việt nhất mà chúng tôi muốn gửi đến Quý anh chị. Vừa là vật kỉ niệm, treo trang trí trong phòng. Vừa đủ để dùng khi đi cắm trại, đi rừng. Từ chặt, gọt, cho đến thái, chế biến các món ăn', N'Chiều dài lưỡi dao:	20cm
Chiều dài cán dao:	12cm
Chiều dài vỏ dao:	24cm
Chiều dài tổng khi cho dao vào bao:	34cm
Chất liệu thép:	Thép 60Si2 (Nhíp Oto)
Chất liệu gỗ:	Gỗ Cẩm Chỉ
Trọng lượng dao:	~ 290gram
Trọng lượng cả vỏ dao:	~ 480gram
Xuất xứ:	Rèn thủ công bởi anh em thợ rèn đồng bào Tày – Cao Bằng
Bộ sản phẩm bao gồm:	Dao và Vỏ Gỗ Cẩm Chỉ', N'https://hoabancamp.com/wp-content/uploads/2019/03/Dao-Di-Rung-Tiger-cover-1.jpg', 1)
INSERT [dbo].[Products] ([Id], [Name], [Price], [Discount], [CateId], [Description], [Information], [Image], [Display]) VALUES (2, N'DAO FIRE', 590000, 0.7, 1, NULL, NULL, N'https://hoabancamp.com/wp-content/uploads/2019/03/Dao-Di-Rung-Fire-1.jpg', 1)
INSERT [dbo].[Products] ([Id], [Name], [Price], [Discount], [CateId], [Description], [Information], [Image], [Display]) VALUES (3, N'Bình Nước Dã Ngoại NatureHike', 129000, 0, 2, NULL, NULL, N'https://hoabancamp.com/wp-content/uploads/2019/03/Nuoc-NatureHike-NH14S002-T-cover-510x340.jpg', 1)
INSERT [dbo].[Products] ([Id], [Name], [Price], [Discount], [CateId], [Description], [Information], [Image], [Display]) VALUES (4, N'Đầu Chuyển Bếp Gas Dã Ngoại', 95000, 0, 2, NULL, NULL, N'https://hoabancamp.com/wp-content/uploads/2019/08/%C4%90%E1%BA%A7u-N%E1%BB%91i-Chuy%E1%BB%83n-%C4%90%E1%BB%95i-B%E1%BA%BFp-Gas-D%C3%A3-Ngo%E1%BA%A1i_8-510x287.jpg', 1)
INSERT [dbo].[Products] ([Id], [Name], [Price], [Discount], [CateId], [Description], [Information], [Image], [Display]) VALUES (29, N'Đế Sạc Olight Micro-Dok III', 230000, 0.1, 5, N'Olight Micro-Dok III là phiên bản thứ ba của dock sạc từ tính được cấp nguồn Micro USB từ Olight. Đế sạc cung cấp dòng sạc 1A. Đây là một bộ sạc bổ sung tùy chọn cho các mẫu đèn Olight S-Series Olight S1R, S2R, S10R III, S30R II, S30R III, H1R Nova và H2R Nova.', N'Đế Sạc Olight Micro-Dok III Là Tùy Chọn Bổ Sung Cho Các Mẫu Đèn Olight S-Series, H1R, H2R
Đế sạc bao gồm đèn LED báo sạc, cổng USB để cấp nguồn cho bộ sạc, đáy đế sạc là các giác hút giúp giữ vững chân đế và cổng sạc nam châm để sạc đèn khi đặt lên.


Các Thành Phần Của Đế Sạc Olight Micro-Dok III
Đế Sạc Đã Bao Gồm 1 Dây Mciro USB


Đế Sạc Olight Micro-Dok III Bao Gồm 1 Dây Micro USB Đi Kèm', N'images/product-image/Fenix-CL26R-Red-Cover.jpg', 0)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Email], [Phone], [Address], [Username], [Password], [Avatar], [RoleId], [Lock]) VALUES (1, N'admin', N'admin0908@gmail.com', N'0326779770', N'48, Man Thiện, Q9', N'admin', N'admin', N'images/avatar/tran_dan.jpg', 1, 0)
INSERT [dbo].[Users] ([Id], [Name], [Email], [Phone], [Address], [Username], [Password], [Avatar], [RoleId], [Lock]) VALUES (4, N'Khach', N'guest1@gmail.com', N'0326779770', N'48, Man Thiện, P.Hiệp Phú, Quận 9', N'guest1', N'guest1', N'images/avatar/na`vi.png', 0, 1)
INSERT [dbo].[Users] ([Id], [Name], [Email], [Phone], [Address], [Username], [Password], [Avatar], [RoleId], [Lock]) VALUES (5, N'M10', N'quanjoker25998@gmail.com', N'0326779770', N'48, Man Thiện, P.Tăng Nhơn Phú A, Q.9', N'quan', N'123', N'images/avatar/hinh-nen-fifa-online-3-1.jpg', 0, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__536C85E4A2F8190E]    Script Date: 11/12/2019 6:42:30 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__536C85E4A2F8190E] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK__CartItems__CartI__1BFD2C07] FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK__CartItems__CartI__1BFD2C07]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK__CartItems__ProId__1B0907CE] FOREIGN KEY([ProId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK__CartItems__ProId__1B0907CE]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK__Carts__UserId__182C9B23] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK__Carts__UserId__182C9B23]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK__Products__CateId__15502E78] FOREIGN KEY([CateId])
REFERENCES [dbo].[Categories] ([CateId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK__Products__CateId__15502E78]
GO
